﻿

#index-content
{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;

}

#table-content
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 90%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

#small-form-table
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
}

.chartbox
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width:500px;
}

.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #fff;
  border-radius: 10px;
}

.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: #fff;
}

.carousel-caption {
    margin-bottom: 35px;
    background: inherit;
    /*background-color: #555;*/
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  color: #ffffff;
  text-align: center;
  text-shadow: 5px 5px 10px #000;
  
  filter: alpha(opacity=100);
}

.carousel-caption .btn {

  text-shadow: 5px 5px 10px #000;
}

.solid-background
{

}

.logo
{
    margin-left: 7%;
    vertical-align: central;
    text-align: left;
}